.thetop {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: #142850;
}
.thepic {
  position: absolute;
  top: 10px;
  left: 1000px;
}
.theabout1 {
  color: #fce8d5;
  font-size: 60px;
  position: absolute;
  top: -15px;
  left: 476px;
  font-family: 'Parisienne', cursive;
  display: inline;
  margin-left: 10px;
}
.themiddle {
  position: absolute;
  top: 150px;
  left: 0;
  bottom: 0;
  height: 1600px;
  width: 100%;
  background-color: #222831;
}
.content-for-about-us {
    color: #f7f7f7;
    font-size: 30px;
    position: absolute;
    top: 180px;
    left: 186px;
    text-align: left;
    font-family: 'Satisfy', cursive;
}
.backtohome1 {
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  top: 200px;
  left: 10px;
  color: #f7f7f7;
}
.backtohome1:hover {
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  top: 200px;
  left: 10px;
  color: #ea6227;
}
.theabout {
  font-size: 50px;
  color: #fce8d5;
  position: absolute;
  top: 0;
  left: 185px;
  font-family: 'Roboto', sans-serif;
  display: inline;
}
@media screen and (max-width: 414px) {
  .theabout1 {
    color: #fce8d5;
    font-size: 60px;
    position: absolute;
    top: -15px;
    left: 340px;
    font-family: 'Parisienne', cursive;
    display: inline;
    margin-left: 10px;
  }
  .theabout {
    font-size: 50px;
    color: #fce8d5;
    position: absolute;
    top: 0;
    left: 50px;
    font-family: 'Roboto', sans-serif;
    display: inline;
  }
  .themiddle {
    position: absolute;
    top: 150px;
    left: 0;
    bottom: 0;
    height: 586px;
    width: 414px;
    background-color: #222831;
  }
  .thetop {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 414px;
    background-color: #142850;
  }
  .thepic {
    height: 70px;
    position: absolute;
    top: 30px;
    left: 280px;
  }
  .content-for-about-us {
      color: #f7f7f7;
      font-size: 20px;
      position: absolute;
      top: 140px;
      left: 50px;
      width: 300px;
      text-align: left;
      font-family: 'Satisfy', cursive;
  }
  .backtohome1 {
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 10px;
    color: #f7f7f7;
  }
  .backtohome1:hover {
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 10px;
    color: #ea6227;
  }
}
