.sec1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 800px;
  background-color: #142850;
}
.meta1 {
  font-size: 50px;
  color: #fce8d5;
  position: absolute;
  top: 0;
  left: 560px;
  font-family: 'Roboto', sans-serif;
  display: inline;
}
.twitter {
  position: absolute;
  top: 375px;
  height: 50px;
}
.mail {
  height: 50px;
  position: absolute;
  top: 300px;
}
.phone {
  height: 50px;
  background-color: #142850;
  position: absolute;
  top: 165px;
}
.linkedin {
  height: 50px;
  position: absolute;
  top: 235px;
}
.meta2 {
  color: #fce8d5;
  position: absolute;
  top: 165px;
  left: 45px;
  font-family: 'Poppins', sans-serif;
  display: inline;
}
.meta3 {
  color: #fce8d5;
  position: absolute;
  top: 235px;
  left: 55px;
  font-family: 'Poppins', sans-serif;
  display: inline;
}
.meta4 {
  color: #fce8d5;
  position: absolute;
  top: 300px;
  left: 55px;
  font-family: 'Poppins', sans-serif;
  display: inline;
}
.meta5 {
  color: #fce8d5;
  position: absolute;
  top: 367px;
  left: 55px;
  font-family: 'Poppins', sans-serif;
  display: inline;
}
.homepage {
  height: 80px;
}
.homepage:hover {
  height: 80px;
  background-color: #000;
}
.backtohome {
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  top: 50px;
  left: 10px;
  color: #f7f7f7;
}
.backtohome:hover {
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  top: 50px;
  left: 10px;
  color: #ea6227;
}
.em {
  color: #65BFBF;
  position: absolute;
  top: 700px;
  font-size: 15px;
}
.el {
  width: 100px;
  font-size: 15px;
  position: absolute;
  top: 735px;
  color: #65BFBF;
}
.ed {
  width: 100px;
  font-size: 15px;
  position: absolute;
  top: 717px;
  color: #65BFBF;
}
.g {
  position: absolute;
  top: 710px;
  left: 95px;
  display: inline;
  font-size: 15px;
}
.g1 {
  position: absolute;
  top: 745px;
  left: 95px;
  font-size: 15px;
}
.en {
  position: absolute;
  width: 100px;
  top: 727px;
  left: 95px;
  font-size: 15px;
}
.l {
width: 100px;
font-size: 15px;
position: absolute;
top: 717px;
left: 225px;
color: #65BFBF;
}
.f {
  color: #65BFBF;
  position: absolute;
  top: 700px;
  left: 225px;
  display: inline;
  font-size: 15px;
}
.f1 {
  position: absolute;
  top: 735px;
  left: 225px;
  font-size: 15px;
  color: #65BFBF;
}
.h1 {
  position: absolute;
  top: 727px;
  left: 260px;
}
.h {
  position: absolute;
  top: 710px;
  left: 260px;
  display: inline;
  font-size: 15px;
}
.h2 {
  position: absolute;
  top: 745px;
  left: 260px;
}
@media screen and (max-width: 414px) {
  .meta1 {
    font-size: 40px;
    color: #fce8d5;
    position: absolute;
    top: 0;
    left: 100px;
    font-family: 'Roboto', sans-serif;
    display: inline;
  }
  .backtohome {
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 100px;
    left: 10px;
    color: #f7f7f7;
  }
  .backtohome:hover {
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 100px;
    left: 10px;
    color: #ea6227;
  }
  .meta2 {
    font-size: 20px;
    color: #fce8d5;
    position: absolute;
    top: 180px;
    left: 170px;
    font-family: 'Poppins', sans-serif;
    display: inline;
  }
  .meta3 {
    font-size: 20px;
    color: #fce8d5;
    position: absolute;
    top: 310px;
    left: 170px;
    font-family: 'Poppins', sans-serif;
    display: inline;
  }
  .homepage {
    height: 40px;
  }
  .homepage:hover {
    height: 40px;
    background-color: #000;
  }
  .meta4 {
    font-size: 20px;
    color: #fce8d5;
    position: absolute;
    top: 440px;
    left: 170px;
    font-family: 'Poppins', sans-serif;
    display: inline;
  }
  .meta5 {
    font-size: 20px;
    color: #fce8d5;
    position: absolute;
    top: 590px;
    left: 170px;
    font-family: 'Poppins', sans-serif;
    display: inline;
  }
  .twitter {
    position: absolute;
    left: 50px;
    top: 570px;
    height: 100px;
  }
  .mail {
    height: 100px;
    position: absolute;
    left: 50px;
    top: 420px;
  }
  .phone {
    height: 100px;
    background-color: #142850;
    position: absolute;
    left: 50px;
    top: 150px;
  }
  .linkedin {
    height: 100px;
    position: absolute;
    left: 50px;
    top: 290px;
  }
}
